/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-green: #00a878;
    --color-grey: #c1c0c0;  ;
    --color-button: #fdffff;
    --color-black: #000;
    --color-btn: #ef8d2e;
    --color-btn-hover: #FF6E01;
    --color-bgMain: #f8f8f8;

}

body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}


/* ------------------------------------------------------HEADER -TOP ------------------------- */

.header .header-top {
    display: grid;
    grid-template: 50% 50% / 20% 50% 30%;
    justify-items: center;
    align-items: center;
    padding: 15px;

}
.header-top .header-img img {
    width: 100px;
}

.header-img {
    display: flex;
    justify-content: left;
}


.header-top .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 50px;
    padding: 0 15px;
    border: 1px solid var(--color-grey);
    border-radius: 10px;
}

.header-top .search  input {
    border: none;
    width: 380px;
}

.header-top .search img {
    width: 25px;
    height: 25px;
}

.search-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-icons img {
    width: 30px;
    height: 30px;
    margin: 0 15px;
}


/* ------------------------------------------------------HEADER - MENU ------------------------- */


.header-menu {
    display: flex;
justify-content: space-evenly;
align-items: center;
}

.menu-list {
    text-align: center;
}

.header-menu .menu-list ul {
    display: flex;
    list-style: none;
}

.header-menu .menu-list ul li a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: 700;
    color: var(--color-black);
}

.header-menu .menu-list ul li a:hover {
    border-bottom: 4px solid var(--color-btn);
}

.header .menu .menu-list ul {
    list-style: none;
}

/* <-----------------------Dark mode code--------------> */

.switch-button {
    display: flex;
    justify-content: center;
    align-items: center;

}
.switch-button .switch-button__checkbox {
    display: none;
}
.switch-button .switch-button__label {
    background-color: var(--color-grey);
    width: 4rem;
    height: 2rem;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
}
.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: var(--color-green);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(2rem);
}

/* <----------------------- ----------------BANNER  -------------------------------> */

.banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 25px;
    cursor: pointer;
    background: var(--color-bgMain);
}

main {
    padding: 20px;
    background: var(--color-bgMain);
}

.Container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(9, auto);
    justify-content: space-evenly;
    align-content: center;
}


.Container .Product {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.Container .Product .product-list-info {
    margin-top: 5px;
}

.Container .Product .Product-img {
    width: 180px;
    object-fit: contain;
    transition: all .5s ease-out;
}

.Container .Product .Product-img:hover {
    transform: scale(1.1);
}

.Container .Product .product-price {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Container .Product .product-price span {
    font-weight: 700;
    font-size: 20px;
}

.Container .Product .product-price small {
    font-size: 16px;
    text-decoration: line-through;
}

.Container .Product .Product-btn-buy {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.Container .Product .Product-btn-buy button {
    padding: .7rem 3rem;
    border-radius: 30px;
    font-weight: 700;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: var(--color-btn);
    color: whitesmoke;
}

.Container .Product .Product-btn-buy button:hover {
    background-color: var(--color-btn-hover);
    box-shadow: 0px 3px 10px var(--color-btn);
}

